body{
    width: 100%;
    overflow-x: hidden;
}
header{
    background-image: url("https://media.gettyimages.com/photos/delicious-italian-pizza-picture-id1124359123?s=2048x2048");
    /* background-position: center;
    background-size: cover; */
    /* background-repeat:repeat; */
    height: 100vh;
}

.overlay{
    background-color: rgba(0,0, 0, 0.7);
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding-top: 15%;
    color: white;
}

nav ul{
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    /* justify-content: space-between; */
    /* text-decoration: none; */
    width: 80%;
    /* margin: auto; */
    margin-left: 60%;
    background-color: transparent;
}

nav ul li{
    text-decoration: none;
    /* padding: 5%; */
    list-style-type: none;
    padding-right: 5%;
    /* flex-wrap: wrap; */
}

.icons{
    display: flex;
}

#aboutImage{
    float: left;
    /* padding-right: 10%; */
    /* height: 300px; */
}