body{
    width: 100%;
    overflow-x: hidden;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Courgette', cursive;
    scroll-behavior: smooth;
    font-size: 22px;


}
header{
    background-image: url("https://media.gettyimages.com/photos/delicious-italian-pizza-picture-id1124359123?s=2048x2048");
    /* background-position: center;
    background-size: cover; */
    /* background-repeat:repeat; */
    height: 100vh;
}

.overlay{
    background-color: rgba(0,0, 0, 0.7);
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding-top: 15%;
    color: white;
}

table{
    align-content: center;
}

td{
    padding: 20px;
}

#orderSummary{
    margin-left: 40%;
    /* background-image: url(../Images/cheese\ pull.jpeg); */
    height: 60vh;

    /* align-content: center; */
    /* background-image:url(../Images/pizza\ blue\ background.jpeg); */
}

nav ul{
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    /* justify-content: space-between; */
    /* text-decoration: none; */
    width: 80%;
    /* margin: auto; */
    margin-left: 60%;
    background-color: transparent;
    
}

nav{
    background-color: transparent;
    position: fixed;
    color:white;
    /* margin-left: 60%; */
    justify-content: space-between;
    box-shadow: 5px 5px 5px silver;
    margin-top: 0%;
    width: 100%;
}

nav ul li{
    text-decoration: none;
    padding-right: 8%;
    list-style-type: none;
    /* padding-right: 5%; */
    /* flex-wrap: wrap; */
    /* text-transform: uppercase; */
}

nav ul li:hover{
    text-decoration: underline;

}

.icons{
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}
#order2{
    padding:3%;
}

#aboutImage{
    float: left;
    /* padding-right: 10%;  */
     /* height: 300px; */
     width:500px;
     
}

#about > h2{
    padding-top: 5%;
}

#welcome{
    padding-top: 7%;
}

#menu{
    /* margin-right: 3%;
    margin-left: 5%; */
    background-image: url("https://cdn.pixabay.com/photo/2017/01/15/10/20/texture-1981165_960_720.jpg");
}

#spacing{
    padding-left: 7%;
}

.row figcaption{
    text-align: center;
    color: white;
}

.row{
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
    margin-bottom: 5%;
}

/* figure{
    display: flex;
} */

/* #menu > figure{
padding: 7%;
} */

#menuTitle{
    text-align: center;
    color: white;
    padding-top: 3%;
}

.form-group{
    align-content: center;
    margin-left: 20%;
    width: 60%;
    margin-right: 15%;
    padding-left: 5%;
}

#summary{
    text-align: center;
    padding-top: 5%;
    
}

#lefter{
    float: left;
}

#contact{
    justify-content: center;
    /* margin-left: 30%; */
    padding-top: 50px;
    height: 100vh;
    margin-top: 20%;
}

#submitFeedback{
    width: 40%;
    margin-left: 30%;
}

#message{
    padding-top: 10px;
}

footer{
    background-image: url("https://media.gettyimages.com/photos/slice-of-pizza-being-lifted-from-a-pizza-pie-with-lots-of-cheese-and-picture-id1059263080?s=2048x2048");
}

#name #email{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 40%;
}

.overlay > h2{
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 2%;

    
}

@media only screen and (max-width: 1000px) {
    #about{
        display: block;
    }
  }